/* General page styles */
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  height: auto; /* Ensure the container grows with content */
}

.title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em; /* Increase font size for better visibility */
}

.inputField, .actionButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actionButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #45a049;
}

.actionButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loadingMessage, .errorMessage {
  color: #666;
  text-align: center;
}

/* Destination list styles */
.destinationsList {
  list-style-type: none;
  padding: 0;
}

.destinationItem {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.destinationHeader {
  font-size: 1.2em;
  color: #000;
}

.destinationSummary {
  font-size: 0.9em;
  color: #555;
}

/* Price Display Styles */
.priceContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.priceBox {
  padding: 10px 20px;
  background-color: #e3e8e4; /* Soft green background */
  border: 1px solid #232823; /* Light green border */
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  width: 30%;
  text-align: center;
}

/* Daily Plan styles */
.dailyPlanContainer {
  margin-top: 30px;
  text-align: left;
  width: 100%;
}

.dailyPlanImagesContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dailyPlanImage {
  flex-grow: 1;
  max-width: 24%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .inputField, .actionButton {
    width: auto;
    display: block;
    margin-right: 10px;
  }

  .actionButton {
    width: auto;
    padding: 10px 20px;
  }
}
